.Contact {
  background-image: linear-gradient($overlay, $overlay), url('../assets/bg_images/womensface.jpeg');
  background-size: cover;
  height: 100vh;
  padding: 4rem;

  h2 {
    font-family: $fancyfont;
    margin: auto;
    text-align: center;
  }

  .contact-me-section {
    background-color: $contact-bg;
    box-shadow: 1px 2px 3px #484747;
    display: flex;
    justify-content: space-around;
    margin: 6rem auto;
    padding: 1rem;

    img {
      display: block;
      width: 8rem;
    }
  }

  form {
    text-align: center;

    button {
      border: 3px solid $btn-border;
      background-color: $contact-bg;
      box-shadow: 1px 2px 1px #484747;
      font-family: $fancyfont;
      font-size: 1.5rem;
      padding: 1rem;

      &:hover {
        cursor: pointer;
        background-color: lighten($contact-bg, 20%);
      }
    }
  }
}