.contact-card {

  img {
    animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    display: block;
    height: 10rem;
  }
  
  a {
    color: white;
    font-family: $bodyfont;
    font-size: 1.5rem;
    text-decoration: none;

    h4 {
      text-align: center;

      &:hover {
        color: black;
      }
    }
  }
}

.Contact {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}