.App {
  display: grid;
  grid-template-columns: 61% 39%;
  grid-template-areas: "info pic";

  .App-bg {
    grid-area: pic;
    height: 100vh;
  }

  hr {
    border: 2px solid $horiz-line;  
  }

  nav {
    font-family: $fancyfont;
    grid-area: info;
    margin: auto;
    width: 35%;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.7rem;
      margin-bottom: 2.5rem;
    }

    h1, h2, h3 {
      text-align: center;
      font-weight: 400;
    }

    a {
      text-decoration: none;
    }

    h3:hover {
      color: $horiz-line;
      font-weight: 900;
    }

    .nav-link {
      color: black;
      padding: 15px;
      position: relative;
    
      &:hover:after {
        width:100%;
        right: 0;
      }
    
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        background: $horiz-line;
        transition: width 1s ease 0s, right 0.5s ease 0s;
        width: 0;
      }
    }
  }
}