// colors
$horiz-line: hsla(340, 44%, 84%, .8);


// fonts
$fancyfont: 'Frank Ruhl Libre', serif;
$bodyfont: 'Rubik', sans-serif;

// animations

@keyframes fade-in {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}