// colors
$horiz-line: hsla(340, 44%, 84%, .8);
$btn-border: hsl(215, 96%, 18%);
$contact-bg: hsla(198, 20%, 36%, .6);
$overlay: hsla(0, 0%, 100%, .4);


// fonts
$bodyfont: 'Frank Ruhl Libre', serif;
$fancyfont: 'Secular One', sans-serif;

// animations

@keyframes fade-in {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}