.Nav {
  background-color: $gradient2;
  display: grid;
  grid-template-areas: "skills projects about . . ro";
  font-family: $bodyfont;
  font-size: 2rem;
  height: 4rem;
  padding: .2rem;
  text-decoration: none;

  .nav-link {
    color: hsla(0, 0%, 100%, .7);
    margin: auto;
    text-decoration: none;

    &:visited {
      color: hsla(0, 0%, 100%, .7);
      text-decoration: none;
    }

    &:hover {
      color: hsla(0, 0%, 100%, 1);
      text-decoration: underline;

      span {
      color: $gradient1;
      }
    }
    
    .name {
      grid-area: ro;
    }
  }
  
  span {
    color: lighten($gradient1, 20%);
  }
  
}